<html>
  <head>
    <title>2020 Travel Log</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
      <div class="feed-container">
          <div class="container">
               <div class="row">
                    <div class="col s12 navigation">
                        <div class="userInfo">
                            <p>Lalit Sunar</p>
                        </div>
                        <div class="discover">
                            <p>Discover</p>
                        </div>
                    </div>
                    <div class="col s4 sidav">
                        <div class="sidebars">
                             <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator av-image" src="images/lalit.jpg">
                                </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Lalit Sunar<i class="material-icons right">more_vert</i></span>
                            <p><a href="/diaries/creatediary">Create Diaries</a></p>
                            <p><a href="/diaries//addplace">Add places</a></p>
                            <p><a href="#">View Diaries</a></p>
                            <p><a href="#">View Places</a></p>
                        </div>
                    </div>
                </div>
                        </div>
                    <div class="col s8 feeds">
                          <div class="col s12 s12">
                            <h4 class="header">Visit Nepal 2020 travel stories</h4>
                            <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="card-stacked">
                            <div class="card-content">
                                <p>The day started with a new sunlignt and new feeling of discovering new places.</p>
                            </div>
                        <div class="card-action">
                            <a href="#">Read Full Diary</a>
                        </div>
                        </div>
                        </div>
                        {{!-- card ends --}}
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="card-stacked">
                            <div class="card-content">
                                <p>The day started with a new sunlignt and new feeling of discovering new places.</p>
                            </div>
                        <div class="card-action">
                            <a href="#">Read Full Diary</a>
                        </div>
                        </div>
                        </div>
        {{!-- cards --}}
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="card-stacked">
                            <div class="card-content">
                                <p>The day started with a new sunlignt and new feeling of discovering new places.</p>
                            </div>
                        <div class="card-action">
                            <a href="#">Read Full Diary</a>
                        </div>
                        </div>
                        </div>
        {{!-- card --}}
                        </div>
                        </div>
                </div>
          </div>
        </div>
        <script> 
        </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>