<html>
  <head>
    <title>2020 Travel Log</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
      <div class="feed-container">
          <div class="container">
               <div class="row">
                    <div class="col s12 navigation">
                        <div class="userInfo">
                            <p><i class="material-icons left">account_circle</i>Lalit Sunar</p>
                        </div>
                        <div class="discover">
                            <p><i class="material-icons left">card_travel</i>explore</p>
                        </div>
                    </div>
                    <div class="col s4 sidav">
                        <div class="sidebars">
                             <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator av-image" src="images/lalit.jpg">
                                </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Lalit Sunar<i class="material-icons right">more_vert</i></span>
                            <p><a href="/diaries/creatediary">Create Diaries</a></p>
                            <p><a href="/diaries//addplace">Add places</a></p>
                            <p><a href="#">View Diaries</a></p>
                            <p><a href="#">View Places</a></p>
                        </div>
                    </div>
                </div>
                        </div>
                    <div class="col s8 feeds">
                          <div class="col s12 s12">
                            <h4 class="header">Visit Nepal 2020 travel stories</h4>
                            <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="card-stacked">
                            <div class="card-content">
                                <p>7 July 2017
Meet Martha Merrill, from New Hampshire, USA, who has with a severe case of GTD (Gotta Travel Disease). Martha booked her first tour with Expat Explore in 2015. Since then she has joined us for five more, and already has two 2018 tours booked! We chatted to Martha about her travels and why she’s so passionate about exploring.

I had always wanted to see England, Scotland and Wales. When my brother suggested that we take a week-long vacation together somewhere, I immediately did an Internet search. This is when I found that Expat Explore offered just what I wanted at a very affordable price. So good, in fact, I was afraid that it was too good to be true! Because I like to be thorough, I went back to my friend Google and looked for reviews on Expat Explore.</p>
                            </div>
                        <div class="card-action">
                            <a href="#">Read Full Diary</a>
                        </div>
                        </div>
                        </div>
                        {{!-- card ends --}}
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="card-stacked">
                            <div class="card-content">
                                <p>7 July 2017
Meet Martha Merrill, from New Hampshire, USA, who has with a severe case of GTD (Gotta Travel Disease). Martha booked her first tour with Expat Explore in 2015. Since then she has joined us for five more, and already has two 2018 tours booked! We chatted to Martha about her travels and why she’s so passionate about exploring.

I had always wanted to see England, Scotland and Wales. When my brother suggested that we take a week-long vacation together somewhere, I immediately did an Internet search. This is when I found that Expat Explore offered just what I wanted at a very affordable price. So good, in fact, I was afraid that it was too good to be true! Because I like to be thorough, I went back to my friend Google and looked for reviews on Expat Explore.</p>
                            </div>
                        <div class="card-action">
                            <a href="#">Read Full Diary</a>
                        </div>
                        </div>
                        </div>
        {{!-- cards --}}
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="https://lorempixel.com/100/190/nature/6">
                            </div>
                            <div class="card-stacked">
                            <div class="card-content">
                                <p>The day started with a new sunlignt and new feeling of discovering new places.</p>
                            </div>
                        <div class="card-action">
                            <a href="#">Read Full Diary</a>
                        </div>
                        </div>
                        </div>
        {{!-- card --}}
                          <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active"><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!">5</a></li>
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                        </div>
                        </div>
                </div>
          </div>
        </div>
        <script> 
        </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>