<html>
  <head>
    <title>Trave2020 Log</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
      <div class="main-container">
    <div class="row container">
    <form class="col s12" method="post" action="register/login">
    <h3>Travel Log-Travel</h3>
    <p>Travel Diaries for 2020 travelers</p>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="username" type="text" class="validate" name="username">
          <label for="username">Username</label>
        </div>
        <div class="input-field col s12">
          <input id="user_password" type="password" name="user_password" class="validate">
          <label for="user_password">Password</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
    </button>
    </form>
    <a class="waves-effect waves-ligh btn-large blue" href="/register"><i class="material-icons right">person_add</i>Signup Now</a>
  </div>   
  
        </div>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>